html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
    transition: all ease-in-out 0.2s;
    font-family: 'Varela Round', sans-serif;
}

/*Top*/
.header {
    display: flex;
    flex-flow: row;
    height: 75px;
    padding: 15px;
}

/*Discord Icon*/
.icon {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icon img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.icon .indicator {
    position: absolute;
    top:85%;
    left:85%;
    transform: translate(-10px, -10px);
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background: #303030;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.icon .indicator .status {
    width: 20px;
    height: 20px;
    border-radius: inherit;
}

.icon .indicator .status::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon.online .indicator .status {
    background: #43b581;
}

.icon.dnd .indicator .status {
    background: #f04747;
}

.icon.dnd .indicator .status::after {
    background: #303030;
    width: 4.5px;
    height: 1.5px;
}

.icon.offline .indicator .status {
    background: #747f8d;
}

.icon.offline .indicator .status::after {
    background: #303030;
    width: 12px;
    height: 12px;
    border-radius: inherit;
}

.icon.idle .indicator .status {
    background: #faa61a;
}

.icon.idle .indicator .status::after {
    background: #303030;
    width: 7px;
    height: 7px;
    border-radius: inherit;
    top: 50;
    left: 0;
    transform: none;
}

.header > div {
    width: 100%;
    align-items: center;
    display: flex;
}

.icon-head {
    justify-content: start;
}

.color-theme {
    justify-content: end;
}

.color-theme i {
    content: '';
    color: lightyellow;
}

.color-theme i:hover {
    cursor: pointer;
    transform: rotate(20deg, 2s);
    transition: all ease-in-out 0.7s;
    color: rgb(238, 172, 73);
}

.color-theme i:focus {
    transform: rotate(20deg, 2s);
    transition: all ease-in-out 0.2s;
    transform: rotate(90deg);
    color: lightblue;
}

.color-theme button {
    background: none;
    border: none;
    height: 72px;
    width: 72px;
    border-radius: 36px;
    transition: all ease-in-out 0.2s;
}

.color-theme button:hover {
    background: #222831;
}


/*
main {

}*/

.socials {
    position: absolute;
    bottom: 25px;
    left: 25px;
    height: 268px;
    width: 40px;
}

.socials button {
    width: 40px;
    height: 40px;
    margin: 4.5px 0 4.5px 0;
    background-color: var(--btn-bg);
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: all ease-in-out 0.1s;
}

.socials button:hover {
    border: 2px solid var(--link-btns);
    transform: rotate(15deg);
}

.socials button i {
    color: var(--link-btns)
}

/* Content container */

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    max-width: 1350px;
    max-height: 900px;
    border: 1px solid red;
}


/* Bio */
.bio-container {
    max-width: 675px;
    max-height: 775px;
    border: 1px solid red;
}

.bio-wrapper {
    color: var(--font-color);
    max-width: 390px;
    margin-top: 64px;
}

.bio-profile img {
    max-height:252px;
    max-width:252px;
    border-radius: 50%;
}

.bio-info h3 {
    font-size: 32px;
}

.bio-info p {
    font-size: 22px;
}

/* Blogs Area */
.blogs {

}

.blogs .button-container {
    color: var(--font-color);
    border: 1px solid red;
    width: 60px;
    height: 330px;
}

.blogs .button-container button {
    width: 40px;
    height: 40px;
    margin: 4.5px 0 4.5px 0;
    background-color: var(--btn-bg);
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: all ease-in-out 0.1s;
    font-size: 26px;
    color: var(--link-btns);
}

.blogs .button-container button:hover {
    border: 2px solid var(--link-btns);
    transform: rotate(15deg);
}

.blogs .button-container h3 {
    transform: rotate(-90deg);
    border: 1px solid red;
}

.blogs .blog-transforms {
    display: flex;
    flex-direction: column;
}

.blogs .posts {

}