.socials {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 40px;
    z-index: 100;
}

.socials button {
    width: 40px;
    height: 40px;
    margin: 4.5px 0 4.5px 0;
    background-color: var(--btn-bg);
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: all ease-in-out 0.2s;
}

.socials button:hover {
    border: 2px solid var(--link-btns);
    transform: rotate(45deg);
    cursor: pointer;
}

.socials i {
    transition: all ease-in-out 0.2s;
}

.socials button:hover i {
    transform: rotate(-45deg);
}

.socials button i {
    color: var(--link-btns)
}